PUBLIC_FALLBACK_PAGE=/200.html
PUBLIC_GOAT_COUNTER_URL=

# Spotify Developer Application Configuration
# Create an app at https://developer.spotify.com/dashboard
# Add Redirect URI: e.g. http://localhost:5173/settings or http://localhost:4173/settings
PUBLIC_SPOTIFY_CLIENT_ID=
PUBLIC_SPOTIFY_REDIRECT_URI=
